main {
    background-color: rgba(63, 127, 191, 0.11);
}

body {
    animation: fadein 2s;
    margin: 0 8%;
    font-family: "Microsoft YaHei UI Light"
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h1 {
    text-align: center;
    display: inline;
}

section {
    margin-left: 20px;
}

img#headerIMG {
    padding: 0 20px;
    border-radius: 10px;
    margin-bottom: -25.1px
}

h1 {
    font-size: 250%;
    margin-top: -5px;
    font-family: Georgia;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

header {
    text-align: center;
}


