body {
    /*animation: fadein 2s;*/
    margin: 0 8%;
    font-family: "Arial";
    background-color: #454545;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

section {
    margin-left: 20px;
}

img#headerIMG {
    padding: 0 20px;
    border-radius: 10px;
    margin-bottom: -25.1px
}

#dirty-code {
    color: #bbb;
    width: 100%;
    background-color:#333;
    border-radius:5px;
    box-shadow:0 1px 5px #222 inset,0 1px 0 #666;
    border-left: 5px solid;
    transition-duration: 0.4s;

}
#clean-code {
    color: #bbb;
    width: 100%;
    background-color:#333;
    border-radius:5px;
    box-shadow:0 1px 5px #222 inset,0 1px 0 #666;
    border-left: 5px solid;
    transition-duration: 0.4s;

}

textarea#clean-code:focus {
    border-left: 5px solid #e23f3f;
}
textarea#dirty-code:focus {
    border-left: 5px solid #e23f3f;
}

p {
    font-family: Georgia;
    color: #ddd;
}
h1 {
    text-align: center;
    display: inline;
    color: #bbb;
    font-size: 250%;
    margin-top: -5px;
    font-family: Georgia;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}


